@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

.icon {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
}

svg.star-svg {
  display: inline;
}

.activeLink {
  color: #2959c2;
}

.icon::after {
  content: "0";
  font-size: 10px;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  position: absolute;
  top: 0;
  right: -5px;
  background-color: #2959c2;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.carrossel {
  scroll-behavior: smooth;
}

.carrossel::-webkit-scrollbar {
  display: none;
}
