@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

.icon {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
}

.icon::after {
  content: "0";
  font-size: 10px;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  position: absolute;
  top: 0;
  right: -5px;
  background-color: #2959c2;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.slideHero {
  height: 100%;
  width: 100%;
  background-image: url(../public/slide-woman.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* transition: all 20s; */

  animation-name: slideHero;
  /* animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timing-function: ease-in-out; */
  animation-duration: 1s;
  /* animation-fill-mode: forwards; */
  animation-iteration-count: infinite;
  animation-delay: 10s;
}

@keyframes slideHero {
  0% {
    background-image: url(../public/slide-woman.jpg);
  }
  100% {
    background-image: url(../public/slide-man.jpg);
  }
  /* 100% {
    background-image: url(../public/slide-woman.jpg);
  } */
}
